@font-face {
    font-family: press-start;
    src: url(../fonts/PressStart2P-Regular.ttf);
  }

  .font-press-start {
    font-family: press-start, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  }
  